/* Bordered form */
body{
	background: rgb(247, 246, 246);

}



form {
	margin: 0 auto;
	margin-top: 50px;

width: 360px;
height: 550px;
top: -2473px;
left: 8561px;
gap: 0px;
opacity: 0px;
background: rgba(255, 255, 255, 1);
border-radius: 7px;
border: 5px solid transparent;

text-shadow: 2px 2px 2px #00000040;
box-shadow: 10px 10px 20px 0px #45090059;



}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 10px 15px ;
    display: inline-block;
	background: rgba(248, 248, 248, 1);


 
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    
    background: rgba(245, 117, 32, 1);

    padding: 14px 20px;
    margin: 8px 0;
    border: 5px;
    cursor: pointer;
	margin: 5px 5px ;
  
	width: 320px;
height: 52px;
gap: 16px;
opacity: 0px;
color: rgba(255, 255, 255, 1);
border-radius: 7px;
border: 5px solid transparent;

text-shadow: 2px 2px 2px #00000040;
box-shadow: 10px 10px 20px 0px #45090059;



}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}




/* Add padding to containers */
.container {
    margin: 25px;
	width: 320px;
	height: 316px;
	top: 166px;
	left: 20px;
	gap: 24px;
	opacity: 0px;
	

}



.login {
	margin: 50px;
	padding: px;
text-align: center;
width: 73px;
height: 38px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 38.4px;
letter-spacing: 0.01em;
text-align: left;
color: rgba(16, 16, 16, 1);



	

}
.sign-up {
	text-align: center;
	margin: 0 auto;
	width: 117px;
	height: 29px;
	gap: 0px;
	opacity: 0px;

font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 28.8px;
letter-spacing: 0.01em;
text-align: left;
color: rgba(119, 119, 119, 1);


	

}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}